body {
    background-color: #cccccc;
}

div{
	margin: 0px;
	padding: 0px;
}
btn-close{
	width: 60px; 
	height: 60px;
}
.nav {
    background-color: #ffffff;
}

.nav>li>a {
	background-color: #d2d8d8;
    color: #809191;
}
.nav>li>a:hover {
	background-color: #d2d8d8;
	color: #809191;
}

#LSTab{
	color:#333;
	background-color:#ffffff;
}
.enteredLogin-heading{
	color:#8a8484;
	background-color:#ffffff;
}
.enteredSignup-heading{
	color:#8a8484;
	background-color:#ffffff;
}
.email-heading{
	color:#8a8484;
	background-color:#ffffff;
}
.pw-heading{
	color:#8a8484;
	background-color:#ffffff;
}
.signIn-heading{
	color:#8a8484;
	background-color:#ffffff;
}
.repw-heading{
	color:#8a8484;
	background-color:#ffffff;
}
.creteAccount-heading{
	color:#8a8484;
	background-color:#ffffff;
}
/* .nav>li>a>#clickHere:hover{ */
/* 	transition: all 0.15s ease-out; */
/* } */




